Repository aakash-bathini/SWE-Course-Project-Team8, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aakash-bathini, @NSingh1227, @vishalm3416, @rishimantri795

.github/CODEOWNERS:

# Code Owners
# This file defines who can review different parts of the codebase

# Global owners - can review everything
* @aakash-bathini

# Backend Python code
/src/ @aakash-bathini @NSingh1227
/app.py @aakash-bathini @vishalm3416

# Frontend React/TypeScript code
/frontend/ @rishimantri795 @aakash-bathini

# CI/CD and GitHub workflows
/.github/ @NSingh1227 @vishalm3416

# Documentation
/README.md @aakash-bathini
/docs/ @aakash-bathini

# Configuration files
/requirements*.txt @aakash-bathini @NSingh1227
/pyproject.toml @aakash-bathini
/frontend/package.json @rishimantri795

# AWS and deployment
/src/aws/ @NSingh1227 @aakash-bathini

# Authentication and security
/src/auth/ @aakash-bathini @NSingh1227

# Metrics and scoring (Phase 1 integration)
/src/metrics/ @aakash-bathini @vishalm3416
/src/orchestration/ @aakash-bathini @vishalm3416
/src/scoring/ @aakash-bathini @vishalm3416

# API integrations
/src/api/ @vishalm3416 @aakash-bathini

# Tests
/tests/ @aakash-bathini @NSingh1227
/test_*.py @aakash-bathini @NSingh1227

fix: Resolve MyPy type errors for CI/CD pipeline
  .github/workflows/ci.yml
  app.py
  mypy.ini
  pyproject.toml
  requirements-dev.txt
  src/api/github.py
Owners: @NSingh1227, @vishalm3416, @aakash-bathini

fix: Address Bugbot issues in PR
  .gitignore
  src/metrics/performance_metric.py
Owners: @aakash-bathini, @vishalm3416

fix: Resolve TypeScript version conflict in frontend CI/CD
  .github/workflows/ci.yml
  frontend/package-lock.json
  frontend/package.json
Owners: @NSingh1227, @vishalm3416, @rishimantri795, @aakash-bathini

fix: Resolve all CI/CD test failures and dependency issues
  .github/workflows/ci.yml
  frontend/src/__tests__/sanity.test.ts
  pytest.ini
  tests/test_smoke.py
Owners: @NSingh1227, @vishalm3416, @rishimantri795, @aakash-bathini

fix: Resolve TypeScript isolatedModules error in test files
  frontend/src/__tests__/sanity.test.ts
  frontend/tsconfig.json
Owners: @rishimantri795, @aakash-bathini

fix: Resolve security vulnerability and coverage issues
  .github/workflows/ci.yml
  src/auth/jwt_auth.py
  tests/test_smoke.py
Owners: @NSingh1227, @vishalm3416, @aakash-bathini

fix: Format tests/test_smoke.py with Black
  tests/test_smoke.py
Owners: @aakash-bathini, @NSingh1227

fix: Resolve S3 bucket creation bug and coverage issues
  .github/workflows/ci.yml
  src/aws/deployment.py
  tests/test_health.py
Owners: @NSingh1227, @vishalm3416, @aakash-bathini

fix: Format src/aws/deployment.py with Black
  src/aws/deployment.py
Owners: @NSingh1227, @aakash-bathini

fix: Resolve dictionary type mismatch and coverage artifact issues
  .github/workflows/ci.yml
  src/metrics/phase2_adapter.py
Owners: @NSingh1227, @vishalm3416, @aakash-bathini

cleanup: Remove Phase 1 legacy files from main branch
  .coverage
  URL_FILE.txt
  acme.log
  coverage.xml
  run
  sample_input.txt
  single_run.txt
  src/0.txt
  src/api/0.txt
  src/api/prep_eval_context.py
  src/commands/0.txt
  src/commands/__init__.py
  src/commands/cli.py
  src/commands/test_cmd.py
  src/commands/url_file_cmd.py
  src/metrics/0.txt
  src/models/0.txt
  src/orchestration/0.txt
  src/orchestration/logging_util.py
  src/orchestration/prep_eval_orchestrator.py
  src/scoring/0.txt
  src/test.log
  src/test1.log
  src/tests/test_all.py
  test-results/junit.xml
  test_eval_context.py
  url.txt
Owners: @aakash-bathini, @NSingh1227, @vishalm3416

fix: Correct GitHub Actions workflow syntax error
  .github/workflows/branch-protection.yml
Owners: @NSingh1227, @vishalm3416

trigger: rerun GitHub Actions workflow
  README.MD
Owners: @aakash-bathini

fix(workflow): expand allowed PR title types in branch protection
  .github/workflows/branch-protection.yml
Owners: @NSingh1227, @vishalm3416

fix(workflow): improve PR validation robustness and debugging
  .github/workflows/branch-protection.yml
Owners: @NSingh1227, @vishalm3416

fix(workflow): quote PR_TITLE variable to prevent bash syntax errors
  .github/workflows/branch-protection.yml
Owners: @NSingh1227, @vishalm3416

trigger: verify workflow fix is applied
  README.MD
Owners: @aakash-bathini

fix(workflow): replace bash regex with Python validator for robustness
  .github/workflows/branch-protection.yml
Owners: @NSingh1227, @vishalm3416

fix(workflow): make PR validation more flexible with warnings
  .github/workflows/branch-protection.yml
Owners: @NSingh1227, @vishalm3416
